body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #919090, #2a2a2a);
}

.game-title {
    font-family: "Calibri", Gadget, sans-serif;
    font-size: 5rem;
    color: #184981;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         6px 6px 0 rgba(0,0,0,0.3);
    transform: skew(-5deg, -5deg);
    -webkit-transform: skew(-5deg, -5deg);
    -moz-transform: skew(-5deg, -5deg);
    transition: all 0.3s ease-in-out;
}

.game-title:hover {
    transform: skew(0, 0);
    -webkit-transform: skew(0, 0);
    -moz-transform: skew(0, 0);
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         10px 10px 0 rgba(0,0,0,0.4);
}

#game-container {
    display: flex;
    border: 3px solid #6181a5;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(15, 136, 235, 0.5);
}

#game-board {
    border-right: 3px solid #6181a5;
}

#game-info {
    padding: 0 20px;
    text-align: center;
    color: #eee;
}

#start-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0e8a46;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

#start-button:hover {
    background-color: #31ce31;
    transform: scale(1.25);
}

#paused-message {
    color: #791313;
    font-weight: bold;
}

#score {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

h2:last-of-type {
    margin-top: 20px;
}

#next-piece {
    border: 3px solid #6181a5;
    border-radius: 5px;
}

h2 {
    color: #6181a5;
    text-shadow: 0 0 5px rgba(135, 206, 235, 0.5);
}

.hidden {
    display: none;
}
